* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: monospace;
}

html,
body {
   overflow: hidden;
}

body {
   background-color: black;
   max-height: 100vh;
   min-height: 100vh;
}

.wrapper {
   display: flex;
   width: max-content;
   user-select: none;
}

.column {
   display: flex;
   width: min-content;
   height: max-content;
   flex-direction: column;
}

.letter {
   text-shadow: 0 0 10px;
   color: #0f0;
   font-weight: 800;
   margin-block: -2px;
}

.range-input-box {
   position: fixed;
   bottom: 5vh;
   left: 50%;
   transform: translateX(-50%);
   z-index: 999;
   background-color: red;
   padding: 1rem 2rem;
   border-radius: 2rem;
   text-align: center;
   color: white;
   font-size: 1.4rem;
   display: flex;
   gap: 2rem;
}
.range-input-box input {
   cursor:col-resize
}